@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  #title {
    margin: 1000px 0 0 0;
  }
  #web {
    min-height: 207vh;
  }
}
@media (max-width: 1200px) {
  #bac {
    min-height: 131vh;
    background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);
}
  #web .nav--right__one--right p {
    width: 493px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
}
#lesson {
  .lesson {
    &--block {
    width: 570px;
    }
  }
}
  #user {
    .user {
      &--one {
        &__top {
          width: 321px;
          .users {
            padding: 0;
          }
        }
        &__block {
          width: 282px;
          &--button {
            button {
              width: 275px;
            }
          }
          &--adil {
            padding: 0;
            margin: 0 0 -34px 0;
          }
        }
      }
    }
  }

  #web {
    .nav {
      &--right {
        img {
          margin: 0 10px;
        }
        &__one {
          width: 654px;
        }
        &__two {
          width: 654px;
        }
      }
    }
  }
  #service {
    .service {
      justify-content: flex-end;
    }
  }
}
.accordionHeading {
    width: 90%;
}
@media (max-width: 1140px) {
 #user {
  min-height: 180hv;
 }
  #user .user--one__block--btn {
    display: flex;
    margin: 18px 0;
    flex-wrap: wrap;
}
  #web .nav--right__one {
    width: 561px;
  }
  #web .nav--right__two {
    width: 566px;
  }
  #service .service {
    justify-content: center;
  }
  #service .service--right input {
    width: 453px;
  }
  #service .service--right button {
    width: 495px;
  }
}
@media (max-width: 992px) {
  #lesson .lesson {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
#web .nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
#web .nav--right__one {
  width: 106%;
}
#bac {
  min-height: 347vh;
  background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);
}
  #user .user--one__block--btn {
    display: flex;
    margin: 18px 0;
    flex-wrap: wrap;
}
  
  #user .user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
  
  #user .user--one__block {
    width: 244px;
    height: auto;
  }
  #user .user--one__block--button button {
    width: 235px;
  }
  #web .nav--right__one {
    width: 57%;
  }
  #web .nav--right__two {
    width: 57%;
  }
  #user .user--one__top {
    width: 283px;
  }
  #user {
    min-height: 118vh;
  }
  #service .service--right input {
    width: 327px;
  }
  #service .service--right button {
    width: 369px;
  }
}
@media (max-width: 880px) {
  section .scroll div {
    color: white;
    font-size: 3em;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

#user .user {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#user {
  min-height: 376vh;
}
#lesson .lesson--block {
  width: 570px;
  margin: 30px 0;
}
  #web .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  #web .nav--right__one {
    width: 100%;
  }
  #web .nav--right__two {
    width: 100%;
  }
  #web {
    min-height: 300vh;
  }
  #bac .bac img {
    width: 301px;
    margin: 20px;
}
  #bac {
    min-height: 200vh;
  }
  #swiper .swiper h1 {
    margin: 24px 0 -35px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
} 
  #service .service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#service .service--right input {
  width: 429px;
}


  #user .user--one {
    display: flex;
    margin: 70px 0;
    flex-direction: column;
    justify-content: center;
  }
  #service .service {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
  }
  #accordions {
    min-height: 111vh;
    height: 1000px;
  }
  #accordions .accordions {
    margin: 260px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #accordions .accordions {
    margin: 260px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  #service {
    height: 638px;
    background: #232323;
  }
}
@media (max-width: 768px) {
  #swiper .swiper h1 {
    margin: 24px 13px 15px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}
  #title .block {
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 229px;
    background: transparent;
    border: 2px solid #EC3025;
    border-radius: 64px;
  }
}
@media (max-width: 660px) {
  #bac .bac img {
    width: 231px;
    margin: 20px;
}
  #web {
    min-height: 388vh;
}
#bac {
  min-height: 295vh;
}
#user {
  min-height: 521vh;
}
#lesson .lesson--block {
  width: 545px;
  margin: 30px 0;
}

  #web .nav--right__one--right p {
    width: 424px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
  }
}
@media (max-width: 576px) {
  #user .user {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
#lesson .lesson--block {
  padding: 10px;
  width: 360px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  height: auto;
}
#web .nav--right__one {
  width: 100%;
  height: auto;
}
#bac .bac img {
  width: 213px;
  margin: 20px;
}
  #user {
    min-height: 835vh;
}
  #title .block h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 64px;
    color: #EC3025;
  }
  #title .block p {
    font-weight: 400;
    font-size: 17px;
    line-height: 2px;
    color: rgba(27, 27, 27, 0.8);
  }
  #title .block {
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 189px;
    background: transparent;
    border: 2px solid #EC3025;
    border-radius: 64px;
  }
  .scroll div {
    color: white;
    font-size: 3em;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
  }#title .title {
     flex-direction: column;
   }
  #web .nav--right__one--right p {
    width: 261px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
  }
}
@media (max-width: 450px) {
  #lesson .lesson--block {
    padding: 10px;
    width: 343px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    height: auto;
}
#web .nav--right__one {
  width: 90%;
  height: auto;
}


#swiper .swiper--block {
    width: 330px;
    border-radius: 20px;
    height: 274px;
    background: #000000;
}
  #bac .bac img {
    width: 160px;
    margin: 20px;
}
  #web .nav--right__one {
    width: 92%;
    height: auto;
}
  #web .nav--right__one--right p {
    width: 261px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
  }
  #title .title {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  #service .service--left h1 {
    font-weight: 500;
    width: 369px;
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
}
  #title .block {
    margin: 150px 0;
    display: flex;
    width: 69%;
    padding: 41px;
    height: 334px;
    background: transparent;
    border: 2px solid #EC3025;
    border-radius: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #service .service--right input {
    width: 277px;
  }
  #service .service--right button {
    width: 324px;
  }
}
@media (max-width: 375px) {
  section .scroll {
    width: 100%;
    display: flex;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
}
#lesson .lesson--block {
  padding: 10px;
  width: 326px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  height: auto;
}
#web .nav--left h1 {
  width: 306px;
  font-weight: 500;
  font-size: 26px;
  color: #000000;
}
#service .service--left h1 {
  font-weight: 500;
  width: 308px;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}
#lesson .lesson {
 img {
  width: 100%;
 }
}
  #web .nav--right__one--right p {
    width: 228px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
  }
  #service .service--right input {
    width: 277px;
  }
  #service .service--right button {
    width: 339px;
  }
}
@media (max-width: 320px) {
  #title .block h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 44px;
    color: #EC3025;
  }
  #web .nav--left h1 {
    width: 239px;
    font-weight: 500;
    font-size: 26px;
    color: #000000;
  }
  #web .nav--right__one--right p {
    width: 178px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(27, 27, 27, 0.8);
  }
  #web .nav--right__one {
    width: 87%;
  }
  #accordions .accordions h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #EC3025;
  }
  #service .service--right input {
    width: 239px;
  }
  #service .service--right button {
    width: 276px;
  }
  section .scroll {
    width: 100%;
    display: flex;
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  section {
    background: #f8f8f8;
    position: relative;
    width: 100%;
    height: 189px;
    overflow: hidden;
  }
  #lesson .lesson--block {
    padding: 10px;
    width: 270px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    height: auto;
}
#lesson .lesson h2 {
  width: 274px;
  font-weight: 600;
  margin: 0 0 10px 33px;
  font-size: 23px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
#lesson .lesson--block button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FF0000;
  border: none;
  margin: 0 0 0 22px;
  width: 254px;
  height: 50px;
  left: calc(50% - 167px + 394px);
  top: calc(50% - 25px + 564.5px);
  background: #F8F8F8;
  border-radius: 44px;
}
#web {
  min-height: 683vh;
}
#web .nav--right__two {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#web .nav--right__one {
    width: 87%;
    display: flex;
    flex-direction: column;
}

#bac .bac h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
}
#bac .bac h2 {
    font-weight: 500;
    font-size: 29px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #EC3025;
}
#bac {
  .bac {
    justify-content: center;
  }
}
#service .service--left h1 {
  font-weight: 500;
  width: 283px;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
}
#service .service--left p {
  width: 293px;
  height: 46px;
  font-weight: 400;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}
}