#modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    left: 25%;
    z-index: 1;
    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 800px;
      height: 499px;
      background: #282828;
      box-shadow: 4px 32px 16px rgba(0, 0, 0, 0.25);
      border-radius: 30px;

      &--close{
        color: #e4e4e4;
        font-size: 30px;
        position: absolute;
        margin-left: 667px;
        margin-top: 37px;
        cursor: pointer;
     
      }
  
      .modal--img {
        margin: 31px 0;
      }
      .modal--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
  
        .modal--input {
          background: #fff8f8;
          border-radius: 20px;
          width: 588px;
          height: 63px;
          outline: none;
          border: none;
          padding: 0 20px 0;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          /* or 23px */
  
          display: flex;
          align-items: center;
  
          color: rgba(27, 27, 27, 0.3);
        }
        .modal--checkbox {
          display: flex;
          justify-content: flex-start;
          margin-left: -200px;
          align-items: center;
  
          &--check {
            width: 25.15px;
            height: 24px;
            margin-right: 20px;
            border: 1px solid #e4e4e4;
          }
  
          &--p {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            /* or 18px */
  
            display: flex;
            align-items: center;
  
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .modal_btn {
          width: 588px;
          padding: 15px 23px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          border: none;
          outline: none;
          background: #ec3025;
          border-radius: 44px;
        }
      }
    }
  }
  