@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/muller-narrow');



#frontEnd {
  margin-top: 850px;
  margin-top: 900px;
  .frontEnd {

   
    background: #f8f8f8;

    &--inform {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &__question {

        h3 {
          font-size: 36px;
          color: black;
          margin-top: 0;
        }

        span {
          font-size: 36px;
          color: #EC3025;
        }
      }

      &__text {

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 14px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          color: rgba(27, 27, 27, 0.8);
        }

        h4 {
          font-weight: 400;
          font-size: 19px;
          line-height: 0;
          display: flex;
          align-items: center;
          color: rgba(27, 27, 27, 0.8);
          margin-top: 40px;
        }
      }
    }

    &--courses {

      padding: 50px 0;


      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: #000000;

        margin: 55px 0;

        margin: 100px 0;

      }

      &__inform {
        display: flex;
        justify-content: space-between;


        &--first {
          &__fon {

            width: 380px;
            height: 202px;
            left: 110px;
            top: 1430px;
            background: linear-gradient(180deg, #EDF1FF 0%, rgba(203, 214, 255, 0.65) 100%);
            border-radius: 20px;
            display: flex;
            justify-content: center;

            img {
              width: 196px;
              height: 170px;
              left: 202px;
              padding: 31px;

            }
          }

          h3 {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            display: flex;
            align-items: center;

            color: rgba(27, 27, 27, 0.8);

          }
        }
      }
    }

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 45px 0;

      margin: 70px 0;

      width: 1280px;
      height: 229px;
      left: 110px;
      top: 1866px;

      /* red */

      border: 2px solid #EC3025;
      border-radius: 125px;

      &__first {
        padding: 0 60px;

        h1 {
          font-weight: 500;
          font-size: 64px;
          line-height: 64px;
          display: flex;
          align-items: center;
          color: #EC3025;
          flex-direction: column;
          text-align: center;

          span {
            margin: 10px 0;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;

            color: #1B1B1B;
          }
        }

        h4 {

        }
      }
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 100px 0;


      button {
        width: 590px;
        height: 205px;
        background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);
        border-radius: 30px;

        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        /* identical to box height */

        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        &:hover {
          background: #3f3535;
          border: none;
        }
      }
    }


  }

  .frontEnd--bottom {
    //width: 1440px;
    //height: 895px;
    left: 0;
    top: 2540px;
    background: #EFEFEF;


    .frontEnd--cours {

      display: flex;
      justify-content: space-between;

      &__text {
        h2 {
          font-weight: 500;
          font-size: 40px;
          line-height: 40px;
          display: flex;
          align-items: center;
          color: #EC3025;
          width: 250px;

        }
      }

      &__informs {
        padding-bottom: 60px;

        &--first {


          &__title {
            display: flex;
            justify-content: space-between;

            h3 {
              font-weight: 500;
              font-size: 24px;
              line-height: 24px;
              display: flex;
              align-items: center;

              color: #000000;


            }

            p {
              font-weight: 400;
              font-size: 19px;
              line-height: 140%;
              padding-top: 29px;


              display: flex;
              align-items: center;

              color: rgba(27, 27, 27, 0.8);
            }
          }

          hr {
            width: 903px;
            height: 0;

            border: 1px solid #000000;
            transform: rotate(0.03deg);
          }


        }
      }
    }

  }

  .frontEnd--certificate {
    padding: 70px 0;
    background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);


    &__inform {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--text {

        h3 {
          font-weight: 500;
          font-size: 40px;
          line-height: 40px;
          /* identical to box height */

          display: flex;
          align-items: center;

          color: #FFFFFF;
        }

        h6 {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          /* or 27px */

          display: flex;
          align-items: center;

          color: rgba(255, 255, 255, 0.8);
        }

        &__buttons {

          button {

            padding: 10px 15px;

            padding: 5px 10px;
            background: white;
            color: black;
            border-radius: 25px;
            margin: 0 4px;
            border: none;
            transition: .4s;

            &:hover {
              background: #EC3025;
              color: white;
            }
          }

        }
      }

    }
  }

  .designer {
    padding: 70px 0;

    &--choose {
      width: 1295px;
      height: 179px;
      left: 110px;
      top: 4052px;
      background: #FF563F;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 0;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 0;
        /* identical to box height */

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 0;
        /* identical to box height, or 27px */

        display: flex;
        align-items: center;
        justify-content: center;

        color: rgba(255, 255, 255, 0.8);
      }

    }

    &--fon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;

      &__application {
        width: 800px;
        height: 344px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        //align-items: center;
        //justify-content: center;
        background: #FF563F;
        border-radius: 30px;
        flex-direction: column;


        input {
          display: flex;
          //flex-direction: row;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 588px;
          height: 63px;
          padding: 0 20px;
          background: #FFF8F8;
          border-radius: 20px;
          margin: 10px 0;
          border: none;
          outline: none;

        }

        &--checked {
          width: 646px;
          margin: 10px 82px;
        

          .input {
            width: 25px;
            height: 25px;
            margin: 0 10px;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            /* or 18px */

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.7);

          }
        }

        button {
          padding: 17px 0;
          width: 629px;
          
          background: #090A0C;
          border-radius: 44px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          /* identical to box height */

          display: flex;
          align-items: center;
          justify-content: center;

          color: #FFFFFF;
          margin: 10px 82px;
        }
      }
    }
  }

  .mentor {
    background: #EFEFEF;
    padding: 100px 0;

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 0;
        display: flex;
        align-items: center;
        text-align: center;

        /* красный */

        color: #EC3025;
      }

      h3 {
        font-weight: 500;
        font-size: 40px;
        line-height: 0;
        display: flex;
        align-items: center;
        text-align: center;

        /* красный */

        color: #000000;
      }
    }

    &--boys {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;

      &__first {

        h3 {
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;

          display: flex;
          align-items: center;
          text-align: center;

          color: #000000;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          display: flex;
          align-items: center;

          color: rgba(27, 27, 27, 0.8);


        }
      }
    }

    &--connection {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {

        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 36px;
          display: flex;
          align-items: center;

          color: #000000;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: #1D1D20;
        }
      }
    }


  }

  .program {

    &--courses {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height */
        margin-top: 10px;

        display: flex;
        align-items: center;

        color: #EC3025;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        /* or 27px */
        padding-top: 69px;

        display: flex;
        align-items: center;

        color: rgba(27, 27, 27, 0.8);
      }
    }


  }

}

@media (max-width: 1140px) {
  #frontEnd .frontEnd--inform__question h3 {
    font-size: 36px;
    color: black;
    margin-top: 0;
    width: 314px;
}
  
#frontEnd .frontEnd--courses__inform--first__fon {
    width: 318px;
    height: 202px;
}
#frontEnd .frontEnd--courses__inform--first p {
  font-weight: 400;
  width: 313px;
  font-size: 14px;
}
#frontEnd .frontEnd--title {
  display: flex;
  align-items: center;
  margin: 45px 0;
  margin: 70px 0;
  width: 1023px;
  height: 215px;
}
#frontEnd .frontEnd--title__first h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 63px;
}
#frontEnd .frontEnd--title__first h1 span {
  margin: 10px 0;
  font-weight: 400;
  font-size: 23px;
}
#frontEnd .frontEnd--buttons button {
  width: 448px;
  height: 180px;
}
#frontEnd .frontEnd--bottom .frontEnd--cours__text h2 {
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
}
#frontEnd .frontEnd--bottom .frontEnd--cours__informs--first hr {
  width: 810px;
}
#frontEnd .frontEnd--certificate__inform--text h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 172%;
}
#frontEnd .designer--choose {
  width: 1026px;
  height: 172px;
}
#frontEnd .designer--choose h2 {
  font-weight: 700;
  font-size: 42px;
}
#frontEnd .designer--choose p {
  font-weight: 400;
  font-size: 18px;
}
#frontEnd .designer--fon__application input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 497px;
  height: 55px;
}
#frontEnd .designer--fon__application button {
  padding: 13px 0;
  width: 629px;
  width: 540px;
  background: #090A0C;
  border-radius: 44px;
  font-weight: 500;
  font-size: 20px;
}
#frontEnd .designer--fon__application {
  width: 677px;
  height: 344px;
}
#frontEnd .designer--fon__application--checked .input {
  width: 144px;
  height: 26px;
  margin: 0;
}


}

@media (max-width: 992px) {
  #frontEnd .frontEnd--certificate__inform--text h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 0px;
  }
  #frontEnd .frontEnd--certificate__inform--text h6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 157%;
  }
  #frontEnd .mentor--title h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 0;
  }
  #frontEnd .mentor--title h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 0;
  }
  #frontEnd .mentor--connection__text h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  #frontEnd .program--courses p {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    padding-top: 16px;
  }
  #frontEnd .program--courses h1 {
    font-weight: 500;
    font-size: 37px;
    line-height: 40px;
    margin-top: -130px;
  }
}

@media (max-width: 768px) {
  #frontEnd .frontEnd--inform {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -213px;
}
#frontEnd .frontEnd--inform__question h3 {
  font-size: 27px;
  color: black;
  margin-top: 0;
  width: 179px;
}
#frontEnd .frontEnd--inform__question h3 span {
  font-size: 24px;
}
#frontEnd .frontEnd--courses {
  padding: 8px 0;
}
#frontEnd .container .frontEnd--courses h2 {
  font-weight: 500;
  font-size: 24px;
}
#frontEnd .container .frontEnd--courses h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 50px 0;
}
#frontEnd .frontEnd--courses__inform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#frontEnd .container .frontEnd--courses__inform--first__fon {
  width: 350px;
  height: 202px;
}
#frontEnd .container .frontEnd--courses h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 50px 0;
  /* width: 500px; */
  display: flex;
  justify-content: center;
}
#frontEnd .frontEnd--bottom .frontEnd--cours {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__text h2 {
  font-size: 35px;
  line-height: 38px;
  display: flex;
  justify-content: center;
}
#frontEnd .frontEnd--certificate__inform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#frontEnd .container .frontEnd--courses__inform--first p {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  text-align: center;
  margin-left: 24px;
  margin-bottom: 57px;
}
#frontEnd .container .frontEnd--courses__inform--first h3 {
  font-weight: 400;
  font-size: 22px;
  margin-left: 71px;
}
#frontEnd .frontEnd--certificate__inform--text h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 0px;
  margin-left: 98px
}
#frontEnd .frontEnd--certificate__inform--text h6 {
 
  font-weight: 400;
  font-size: 18px;
  line-height: 157%;
  /* width: 587px; */
  text-align: center;
  text-align: center;
  margin-left: 16px;
  justify-content: center;
}
#frontEnd .frontEnd--certificate__inform--text__buttons button {
  padding: 10px 15px;
  padding: 13px 23px;
  background: white;
  color: black;
  border-radius: 25px;
  margin: 0 4px;
  border: none;
  transition: 0.4s;
  font-size: 13px;
}
#frontEnd .frontEnd--certificate__inform--text__buttons button {
  padding: 10px 15px;
  padding: 13px 23px;
  background: white;
  color: black;
  border-radius: 25px;
  margin: 0 4px;
  border: none;
  transition: 0.4s;
  font-size: 15px;
  margin-left: 23px;
}
#frontEnd .designer .container .designer--choose {
  width: 690px;
  height: 121px;
}
#frontEnd .designer--fon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  flex-direction: column;
}
#frontEnd .designer--fon img {
  width: 310px;
  height: 280px;
  margin: 18px 0;
}
#frontEnd .designer--fon img {
  width: 310px;
  height: 280px;
  margin: 18px 0;
}
#frontEnd .designer--fon__application--checked .input {
  width: 52px;
  height: 26px;
  margin: 0;
}
#frontEnd .mentor--title h2 {
  font-weight: 500;
  font-size: 33px;
  line-height: 0;
}

#frontEnd .mentor--title h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 0;
}
#frontEnd .mentor--boys {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  flex-direction: column;
}
#frontEnd .mentor--boys__first img {
  width: 350px;
  height: 231px;
}
#frontEnd .mentor--boys__first h3 {
  font-weight: 400;
  font-size: 27px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: 56px;
}
#frontEnd .mentor--boys__first p {
  font-weight: 400;
  font-size: 19px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  padding-bottom: 36px;
}

#frontEnd .mentor--connection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#frontEnd .mentor--connection__text h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
}
#frontEnd .mentor--connection__text p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #1D1D20;
}
#frontEnd .mentor--connection__video .video {
  width: 300px;
  height: 190px;
}
#frontEnd .program--courses {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-direction: column;
} 
#frontEnd .program--courses h1 {
  font-weight: 500;
  font-size: 37px;
  line-height: 40px;
  margin-top: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#frontEnd .program--courses p {
  font-weight: 400;
  font-size: 19px;
  line-height: 140%;
  padding-top: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
} 



}

@media (max-width: 660px) {
  .container{
    width: 90%;
  }
  #frontEnd .container .frontEnd--inform__text P {
    font-weight: 400;
    font-size: 15px;
    line-height: 0;
    display: flex;
    justify-content: center;
    margin-left: 52px;
}
#frontEnd .container .frontEnd--inform__text h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  margin: 13px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 52px;
}
  #frontEnd .frontEnd--inform__question h3 {
    font-size: 27px;
    color: black;
    margin-top: 0;
    width: 600px;
    display: flex;
    justify-content: center;
}
#frontEnd .frontEnd .frontEnd--title {
  width: 591px;
  height: 146px;
  margin: 0;
}
#frontEnd .frontEnd--title__first {
  padding: 0px 24px;
}

#frontEnd .container .frontEnd--courses h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 50px 0;
  width: 593px;
  display: flex;
  justify-content: center;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__informs--first hr {
  width: 588px;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__text h2 {
  font-size: 35px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  width: 379px;
  text-align: center;
  margin-left: 101px;
}
#frontEnd .designer .container .designer--choose {
  width: 593px;
  height: 121px;
}
#frontEnd .designer--choose h2 {
  font-weight: 700;
  font-size: 29px;
}
#frontEnd .designer--choose p {
  font-weight: 400;
  font-size: 15px;
}
#frontEnd .mentor--connection__video {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
#frontEnd .program--courses p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  padding-top: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}
}

@media (max-width: 576px) {
  .container{
    width: 90%;
  }
  #frontEnd .frontEnd--inform__question h3 span {
    font-size: 24px;
    margin: 0 6px;
}
#frontEnd .frontEnd--inform__question h3 {
  font-size: 24px;
  color: black;
  margin-top: 0;
  width: 452px;
  display: flex;
  justify-content: center;
  margin-left: 34px;
}
#frontEnd .container .frontEnd--inform__text P {
  font-weight: 400;
  font-size: 15px;
  line-height: 0;
  display: flex;
  justify-content: center;
  /* margin-left: 50px; */
  text-align: center;
}

#frontEnd .container .frontEnd--inform__text h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    margin: 13px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin-left: 52px; */
}
#frontEnd .container .frontEnd--inform__text P {
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  display: flex;
  justify-content: center;
  /* margin-left: 50px; */
  text-align: center;
  margin-left: 9px;
}
#frontEnd .container .frontEnd--courses h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 50px 0;
  width: 373px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 71px;
}

#frontEnd .container .frontEnd--courses__inform--first h3 {
    font-weight: 400;
    font-size: 22px;
   
    display: flex;
    justify-content: center;
}
#frontEnd .container .frontEnd--courses__inform--first h3 {
  font-weight: 400;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-left: -5px;
}
#frontEnd .frontEnd .frontEnd--title {
  width: 509px;
  height: 106px;
  margin: 0;
}
#frontEnd .frontEnd .frontEnd--buttons button {
  width: 217px;
  height: 112px;
  background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);
  border-radius: 30px;
  font-weight: 500;
  font-size: 22px;
  margin: -31px 0;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__text h2 {
  font-size: 29px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  width: 379px;
  text-align: center;
  margin-left: 67px;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__informs--first hr {
  width: 516px;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__informs--first__title h3 {
  font-weight: 500;
  font-size: 14px;
}
#frontEnd .frontEnd--bottom .container .frontEnd--cours__informs--first__title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  padding-top: 14px;
}
#frontEnd .frontEnd--certificate__inform--text h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 0px;
  margin-left: 122px;
  #frontEnd .frontEnd--certificate__inform--text h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 157%;
    /* width: 587px; */
    text-align: center;
    text-align: center;
    margin-left: 16px;
    justify-content: center;
}
#frontEnd .frontEnd--certificate__inform--text__buttons button {
  padding: 10px 15px;
  padding: 10px 15px;
  background: white;
  color: black;
  border-radius: 25px;
  margin: 0 4px;
  border: none;
  transition: 0.4s;
  font-size: 15px;
  margin-left: 31px;
}
}
}

