#mainPart {
  background: #f8f8f8;
  padding-bottom: 437px;
  overflow: hidden;
  position: relative;
  z-index: -99;
    .backdropBlur {
      position: absolute;
      margin: 0px 36px;
      width: 1324px;
      height: 705px;
      left: 20px;
      top: 20px;
      background: linear-gradient(
        289.3deg,
        rgba(19, 19, 19, 0.3) 17.11%,
        rgba(28, 28, 28, 0.261) 100%
      );
      backdrop-filter: blur(7.5px);
      /* Note: backdrop-filter has minimal browser support */
  
      border-radius: 20px;
    }
  
    .an1 {
      width: 50px;
      margin-left: 338px;
      animation: leaves 5s ease-in infinite alternate;
      -webkit-animation: leaves 5s ease-in infinite alternate;
    }
  
    .an4 {
      width: 50px;
      margin-top: -165px;
      animation: an4 5s ease-in infinite alternate;
      -webkit-animation: an4 5s ease-in infinite alternate;
    }
    .an6 {
      width: 50px;
      margin-left: 131px;
      animation: an6 6s ease-in infinite alternate;
      -webkit-animation: an6 6s ease-in infinite alternate;
    }
    .an5 {
      width: 51px;
      margin-top: -379px;
      margin-left: 329px;
      animation: an5 5s ease-in infinite alternate;
      -webkit-animation: an5 5s ease-in infinite alternate;
    }
    .an3 {
      width: 50px;
      margin-top: -270px;
      margin-left: 1075px;
      animation: leaves 5s ease-in infinite alternate;
      -webkit-animation: leaves 5s ease-in infinite alternate;
    }
    .an2 {
      position: absolute;
      margin-top: -541px;
      margin-left: 843px;
      animation: an2 6s ease-in infinite alternate;
      -webkit-animation: an2 6s ease-in infinite alternate;
    }
    .an11 {
      width: 19px;
      position: absolute;
      margin-top: -76px;
      margin-left: 982px;
      animation: an2 5s ease-in infinite alternate;
      -webkit-animation: an2 5s ease-in infinite alternate;
    }
    .an12 {
      position: absolute;
      width: 30px;
      margin-top: -389px;
      margin-left: 471px;
      animation: an2 5s ease-in infinite alternate;
      -webkit-animation: an2 5s ease-in infinite alternate;
    }
    .an8 {
      width: 30px;
      margin-top: -126px;
      margin-left: 415px;
      animation: an8 6s ease-in infinite alternate;
      -webkit-animation: an2 6s ease-in infinite alternate;
    }
    .an7 {
      position: absolute;
      margin: -648px 583px 0 641px;
      animation: an7 6s ease-in infinite alternate;
      -webkit-animation: an7 6s ease-in infinite alternate;
    }
    .an10 {
      position: absolute;
      width: 30px;
      margin-top: -380px;
      margin-left: 936px;
      animation: an10 5s ease-in infinite alternate;
      -webkit-animation: an10 5s ease-in infinite alternate;
    }
    .an9 {
      width: 30px;
      margin-top: -520px;
      margin-left: 957px;
      animation: an9 5s ease-in infinite alternate;
      -webkit-animation: an9 5s ease-in infinite alternate;
    }
  }
  
  @keyframes leaves {
    100% {
      transform: scale(1.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an4 {
    0% {
      transform: scale3d(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale3d(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an6 {
    0% {
      transform: scale3d(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale3d(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an5 {
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(2);
    }
    100% {
      transform: scale3d(0.8);
      -webkit-transform: scale(1);
    }
  }
  @keyframes an6 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  
  @keyframes an2 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  @keyframes an11 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  @keyframes an8 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  
  @keyframes an7 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  @keyframes an10 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  @keyframes an9 {
    100% {
      transform: scale3d(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale3d(1);
      -webkit-transform: scale(1.2);
    }
  }
  