.container{
    width: 1220px;
    margin: 0 auto;
  
  }
  body{
   background:  #F8F8F8;;
  }
  
  // @import url('https://fonts.cdnfonts.com/css/sf-pro-display');
  @import './style/style.scss'
  
  